@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
    --text-font: 'Crimson Text';
    --primary-color: black;
    --secondary-color: burlywood;
    --background: beige;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: var(--text-font);
}

a {
    text-decoration: none;
}

.container {
    background-image: url("assets/background-img1.jpg");
    background-size: cover;

    height: 100vh;
    width: 100vw;
}

.container .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;

    background-color: var(--background);
}

.container .navbar .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    font-size: 2em;
    font-weight: 700;

    color: var(--secondary-color);

    border-top: 5px solid var(--secondary-color);
    border-bottom: 10px solid var(--secondary-color);
}

.container .navbar .logo a {
    color: var(--secondary-color);
    
}

.container .navbar .link a {
    color: var(--primary-color);
}

.container .top-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 

    margin: 3em 4em;

    gap: 2em;
}

.container .top-section .card {
    background-color: var(--background);
    
    padding: 2em 4em;

    border-radius: 30px;
}

.container .top-section .card .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .top-section .btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em
}

.container .top-section .btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    font-size: 1.2em;

    border: none;
    border-radius: 20px;

    height: 100%;
    width: 100%;

    cursor: pointer;

    color: var(--primary-color);
    background-color: var(--secondary-color);

}

.container .top-section .btns button:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}
.container .main-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    gap: 2em;

    align-items: center;
    justify-content: center;

    backdrop-filter: brightness(30%);

    margin: 3em 4em;
    padding: 2em 0;

    border-radius: 30px; 
}

.container .main-section .card {
    height: 240px;
}

.container .main-section .info {
    border: 2px dashed var(--secondary-color);
    border-radius: 50%;

    height: 180px;
}

.container .main-section .info i {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    
    margin: 0.4em;
    padding: 0.3em 0.5em;

    border-radius: 5px;

    position: relative;
    left: 65px;
}

.container .main-section .info p {
    color: var(--secondary-color);

    font-size: 1.5em;

    
    padding: 0 1em;

    text-align: center;
}

.container .main-section div .book {
    border: 2px solid var(--secondary-color);
    border-left: 10px solid var(--secondary-color);
    background-color: var(--background);

    margin-bottom: 0.5em;
}

.container .main-section div .book img {
    width: 170px;
    height: 240px;
}

.container .main-section div .book h2 {
    text-align: center;

    padding: 1.5em 0.5em;
}

.container .main-section div .book p {
    text-align: right;

    padding: 0.2em 0.2em;
}

.container .main-section div .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

dialog {
    margin: auto;
    
    width : 50%;
    height: 50%;

    border: none;
    border-radius: 10px;
    background-color: var(--background);

}

dialog::backdrop {
    backdrop-filter: blur(5px);
}

dialog form {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

dialog form .item {
    display: flex;
    flex-direction: column;
    gap: 0.2em;

    margin: 0em 4em 1em 4em;

    font-weight: 700;
}

dialog form .item label i {
    font-weight: 400;
}

dialog form .item input {
    line-height: 2em;

    outline: none;

    border-radius: 5px;
    border: 1px solid var(--secondary-color);

    background: transparent;

    padding: 0.2em 0.5em;
}

dialog form .item input:placeholder-shown {
    font-size: 16px;
    font-weight: 600;
}

dialog form .item input:focus {
    border: 1px solid var(--primary-color);
}

dialog form .item input:user-invalid {
    border: 1px solid red;
}

dialog form .item input:user-valid {
    border: 1px solid green;
}

dialog form .item .checkbox-label {
    display: flex;
    align-items: center;
}

dialog form .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;

    margin: 0em 4em 1em 4em;
}

dialog form .btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    font-size: 1em;
    font-weight: 700;

    border: none;
    border-radius: 5px;

    height: 150%;
    width: 100%;

    cursor: pointer;

    color: var(--primary-color);
    background-color: var(--secondary-color);
}

dialog form .btns button:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;

    position: relative;

    border-radius: 5px;

    transition: 0.5s ease-in;

    font-size: 12px;
    font-weight: 400;

    cursor: pointer;

}

.toggle .checkbox {
    appearance: none;
    border: 2px solid var(--secondary-color);
    background-color: transparent;

    width: 88px;
    height: 24px;

    border-radius: 5px;
    
    cursor: pointer;
    
}

.toggle .knob {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;

    width: 50px;
    height: 26px;

    border: 2px solid var(--secondary-color);
    border-radius: 6px;
   
    position: absolute;
    right: 37px;
    
    cursor: pointer;

    z-index: -1;
}

.toggle .checkbox:checked + .knob {
    translate: 36px;

    border: 2px solid var(--secondary-color);

    background-color: green;
}

.toggle .checkbox:checked + .knob p {
    display: none;
}

.toggle .checkbox:checked + .knob:after {
    content: "Read";
    color: white;
}

.toggle .checkbox:focus,
.toggle .checkbox:user-invalid,
.toggle .checkbox:user-valid {
    border: 2px solid var(--secondary-color);
}








